<table class="table">
  <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
      <tr>
      <td>Тип дисплея</td>
      <td>{{ product.display }}</td>
    </tr>
      <tr>
      <td>частота процессора</td>
      <td>{{ product.proccessor_fraq }}</td>
    </tr>
      <tr>
      <td>Оперативнвая память</td>
      <td>{{ product.ram }}</td>
    </tr>
      <tr>
      <td>видеокарта</td>
      <td>{{ product.video }}</td>
    </tr>
      <tr>
      <td>время работы аккумулятора</td>
      <td>{{ product.time_without_charge }}</td>
    </tr>
  </tbody>
</table>